In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas

import matplotlib as plt
%matplotlib inline

graduation_rates_19 = pandas.read_csv('./drive/MyDrive/Johann/UCL/Second Year/Quantitative Methods 2/FinalProject/GRAD_RATE_AND_OUTCOMES_2019.csv')
graduation_rates_20 = pandas.read_csv('./drive/MyDrive/Johann/UCL/Second Year/Quantitative Methods 2/FinalProject/GRAD_RATE_AND_OUTCOMES_2020.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
graduation_rates_19 = graduation_rates_19.loc[graduation_rates_19['aggregation_type'] == 'County']
graduation_rates_19 = graduation_rates_19.loc[graduation_rates_19['membership_desc'] == '2015 Total Cohort - 4 Year Outcome']
graduation_rates_19 = graduation_rates_19.loc[graduation_rates_19['subgroup_name'] == 'All Students']
graduation_rates_19

     report_school_year  aggregation_index  ... dropout_cnt  dropout_pct
1168            2018-19                  2  ...         204           7%
1304            2018-19                  2  ...          31           6%
1428            2018-19                  2  ...         162           7%
1563            2018-19                  2  ...          58           6%
1693            2018-19                  2  ...          76          10%
...                 ...                ...  ...         ...          ...
8555            2018-19                  2  ...          54           8%
8686            2018-19                  2  ...          80           7%
8820            2018-19                  2  ...         299           3%
8950            2018-19                  2  ...          21           6%
9078            2018-19                  2  ...          12           7%

[62 rows x 37 columns]

In [5]:
graduation_rates_20 = graduation_rates_20.loc[graduation_rates_20['aggregation_type'] == 'County']
graduation_rates_20 = graduation_rates_20.loc[graduation_rates_20['membership_desc'] == '2016 Total Cohort - 4 Year Outcome']
graduation_rates_20 = graduation_rates_20.loc[graduation_rates_20['subgroup_name'] == 'All Students']
graduation_rates_20

     report_school_year  aggregation_index  ... dropout_cnt  dropout_pct
1180            2019-20                  2  ...         177           6%
1315            2019-20                  2  ...          25           5%
1442            2019-20                  2  ...         135           7%
1580            2019-20                  2  ...          66           7%
1710            2019-20                  2  ...          60           8%
...                 ...                ...  ...         ...          ...
8706            2019-20                  2  ...          68          10%
8837            2019-20                  2  ...          70           7%
8968            2019-20                  2  ...         284           2%
9102            2019-20                  2  ...           9           3%
9226            2019-20                  2  ...          18          13%

[62 rows x 37 columns]

In [6]:
graduation_rates_19 = graduation_rates_19.replace('%', '', regex=True)
graduation_rates_20 = graduation_rates_20.replace('%', '', regex=True)
graduation_rates_20 = graduation_rates_20.replace('County: ', '', regex=True)
graduation_rates_19 = graduation_rates_19.replace('County: ', '', regex=True)

In [7]:
from pandas.core.frame import DataFrame
difference = []
for i in range(0, len(graduation_rates_20['aggregation_name'])):
  difference_ = graduation_rates_20['grad_pct'].astype(float).iloc[i] - graduation_rates_19['grad_pct'].astype(float).iloc[i]
  difference.append(difference_ * -1)
print(difference)
comparison = pandas.DataFrame()
comparison['County'] = graduation_rates_20['aggregation_name']
comparison['Difference'] = difference
data_path = './drive/MyDrive/Johann/UCL/Second Year/Quantitative Methods 2/FinalProject/Graduation_Rate_differences.csv'
comparison.to_csv(data_path)
comparison = comparison.sort_values(by = ['Difference'])
comparison_negative = comparison[56:]
comparison_positive = comparison[0:56]
comparison_negative
comparison

[-2.0, -2.0, -3.0, 1.0, -4.0, -1.0, -8.0, -7.0, -3.0, -1.0, -3.0, -5.0, -4.0, -5.0, 3.0, -3.0, -3.0, -0.0, -5.0, 4.0, -3.0, -3.0, -1.0, -4.0, -3.0, -3.0, -10.0, -2.0, -2.0, -5.0, -2.0, -3.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -3.0, -10.0, -1.0, -0.0, -0.0, -1.0, -1.0, -3.0, -11.0, -0.0, -5.0, -3.0, -2.0, -1.0, -3.0, 2.0, -2.0, -6.0, 3.0, -1.0, -1.0, -2.0, 3.0]

          County  Difference
7402   SCHOHARIE       -11.0
6473      OTSEGO       -10.0
4543  MONTGOMERY       -10.0
1980     CHEMUNG        -8.0
2110    CHENANGO        -7.0
...          ...         ...
8299    TOMPKINS         2.0
8706  WASHINGTON         3.0
3042       ESSEX         3.0
9226       YATES         3.0
3655    HAMILTON         4.0

[62 rows x 2 columns]

In [8]:
AP_differences_negative = pandas.read_csv('./drive/MyDrive/Johann/UCL/Second Year/Quantitative Methods 2/FinalProject/AP_differences_negative.csv')
ambos = comparison_negative.merge(AP_differences_negative, left_on = 'County', right_on = 'County', how = 'inner')
ambos
#only cattaraugus and washington are missing. 
#it can, however, be clearly seen that only 6 counties (cattaraugus, tompkins, washington, essex, yates, and hamilton) had a negative change in graduation rates
#while 18 counties had a negative change in AP scores, 10 of which were larger than 0.1 points but only 2 of which were larger than 1 (Allegany and Yates). 
#what do these counties that performed badly have in common.

     County  Difference_x  Unnamed: 0  Difference_y
0  TOMPKINS           2.0       60523      0.106610
1     ESSEX           3.0       28606      0.097101
2     YATES           3.0       64965      1.339286
3  HAMILTON           4.0       29461      0.400000

In [9]:
AP_differences_negative

    Unnamed: 0       County  Difference
0        29862        LEWIS    0.013112
1        52915       OSWEGO    0.022392
2        24509   CHAUTAUQUA    0.032832
3        29028      GENESEE    0.037318
4        61091       ULSTER    0.039286
5        27133         ERIE    0.041857
6        55654     SARATOGA    0.059716
7        28606        ESSEX    0.097101
8        60523     TOMPKINS    0.106610
9        29519     HERKIMER    0.123159
10       56229  SCHENECTADY    0.179812
11       53967   RENSSELAER    0.236042
12       25260      CLINTON    0.263851
13       25102     CHENANGO    0.278769
14       25710     CORTLAND    0.368330
15       29461     HAMILTON    0.400000
16       23264     ALLEGANY    1.185714
17       64965        YATES    1.339286

In [10]:
democratic = ['ALBANY', 'BRONX', 'BROOME', 'CLINTON', 'COLUMBIA', 'DUTCHESS', 'ERIE', 'ESSEX', 'KINGS', 'MONROE', 'NASSAU', 'NEW YORK', 'ONONDAGA', 'QUEENS', 'RENSSELLAER', 'ROCKLAND', 'SARATOGA', 'SCHENECTADY', 'TOMPKINS', 'ULSTER', 'WESTCHESTER']
print(len(democratic))
dems = pandas.DataFrame()
dems['County'] = democratic
dems_negative_AP = dems.merge(AP_differences_negative, left_on = 'County', right_on = 'County', how = 'inner')
dems_negative_AP
dems_negative_Grad_Rate = dems.merge(comparison_negative, left_on = 'County', right_on = 'County', how = 'inner' )
dems_negative_Grad_Rate
dems_negative_AP
#2 out of 6 counties with negative change in grad rates voted dems last presidential election
#7 out of 18 counties with negative change in AP scores voted dems last presidential election
#21 out of 62 counties voted dems presidential election
#these changes seem to be unrelated to county government (whether dem or rep) since all these ratios are within the 30%-40% range.

21

        County  Unnamed: 0  Difference
0      CLINTON       25260    0.263851
1         ERIE       27133    0.041857
2        ESSEX       28606    0.097101
3     SARATOGA       55654    0.059716
4  SCHENECTADY       56229    0.179812
5     TOMPKINS       60523    0.106610
6       ULSTER       61091    0.039286

In [42]:
income = pandas.read_csv('./drive/MyDrive/Johann/UCL/Second Year/Quantitative Methods 2/FinalProject/NY_County_Income.csv')
income['COUNTY'] = income['COUNTY'].apply(lambda s: s.upper() if type(s) == str else s)
income = income.replace(u'\xa0',u'', regex=True)
comparison['County'] = comparison['County'].apply(lambda s: s.upper() if type(s) == str else s)
comparison = comparison.sort_values(by = ['County'])
grad_diff_income = comparison.merge(income, left_on = 'County', right_on = 'COUNTY', how = 'inner')
x_values = []
y_values = []
for x in grad_diff_income['Median household income (in 2019 dollars), 2015-2019']:
  x_values.append(x)
for y in grad_diff_income['Difference']:
  y_values.append(y * -1)

grad_diff_income
print(x_values)
print(y_values)

[66252, 48412, 40088, 52226, 48703, 58377, 46820, 54940, 52002, 56365, 66787, 56023, 49544, 81219, 58121, 56763, 50407, 50482, 60524, 53601, 58675, 54646, 52685, 60231, 54524, 59510, 61633, 60075, 49462, 116100, 86553, 55522, 56027, 61359, 64944, 79944, 52620, 55967, 54028, 104486, 68666, 68991, 82783, 93024, 107740, 84291, 65499, 57714, 52327, 54545, 53663, 101031, 57426, 62999, 60240, 64304, 61024, 57258, 59449, 96610, 58052, 56563]
[2.0, 2.0, 5.0, 3.0, -1.0, 4.0, 1.0, 8.0, 7.0, 3.0, 1.0, 3.0, 5.0, 4.0, 5.0, -3.0, 3.0, 3.0, 0.0, 5.0, -4.0, 3.0, 3.0, 2.0, 1.0, 4.0, 3.0, 3.0, 10.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 10.0, 1.0, 3.0, 0.0, 2.0, 0.0, 1.0, 1.0, 3.0, 11.0, 0.0, 5.0, 3.0, 2.0, 1.0, 3.0, -2.0, 2.0, 6.0, -3.0, 1.0, 1.0, 2.0, -3.0]